body {
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  background-color: white;
  color: #111;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

body, html {
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

@media only screen and (max-device-width: 414px) {
  body, p, ul {
    font-size: 28px;
  }

  pre, code {
      white-space: normal;
      white-space: normal !important;
      word-break: break-all;
  }
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

pre {
    /*margin: 2em 1em 2em 4em;*/
    margin: 2em 1em 2em 0em;
    padding: 1em 1em 1em 1em;
    white-space: pre-wrap;
}

#content p, #content h2, #content h3, #content h4, #content h5, #content div, 
#content ul, #content h1, footer, header, nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#menu {
    margin-bottom: 50px;
}

#menu ul {
    padding: 0;
}

.entry-title {
    display: inline;
}

time {
    color: #999;
}

#banner h1 {
    display: inline-block;
}

#langs {
    display: inline-block;
    margin-left: 10px;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

code {
    background-color: rgba(27,31,35,0.05);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 3px;
    font-size: 80%;
}

code::before, code::after {
    latter-spacing: -0.1em;
    content: "\00a0";
}
